.navbar-expand-xl {
    width: 100%;
}

.row {
 padding: 0 15px;
}

.main-container {
    margin: 0 15px;
}

img {
    max-width: 100%;
}

ol li {
    margin: 0 30px;
    padding: 5px;
}